
* {
  margin: 0;
}

body {
    margin: 0;    min-height: 100vh;
    padding: 5vh 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url('assets/img/img-fundo.png') center/cover no-repeat;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    overflow: hidden;
    transform-origin: center;
    background: #fff;
    padding: 25px;
    border-radius: 18px;
    max-width: 400px;
    width: 90%;
    box-sizing: border-box;
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 20px;
}

.container:hover{
       box-shadow: 0 0 20px #ffffff;
}

.img-perfil {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    border: 3px solid #310d4e;
    border-radius: 50%;
    object-fit: cover;
    transition: border 0.3s, transform 0.3s, box-shadow 0.3s;
}


.img-perfil:hover {
    border-color: #38df96;
    transform: scale(1.05);
    box-shadow: 0 0 20px #38df96;
}

.bio {
    margin-bottom: 20px;
    font-weight: 500;
    transition: letter-spacing 0.3s, transform 0.3s;
}
.bio:hover {
    transform: scale(1.01);
    letter-spacing: 1px;
}

.link-botao,
#modo-noturno {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    border-radius: 18px;
    gap: 12px;
    background: #5b1f8b;
    color: #fff;
    text-decoration: none;
    box-sizing: border-box;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
}
.link-botao:hover,
#modo-noturno:hover {
    background: #38df96;
    color: #000;
    transform: translateY(-2px);
}

body.dark .container {
    background: #1c1b1d;
}
body.dark .container:hover {
    box-shadow: 0 0 20px #1c1b1d;
}
body.dark .nome,
body.dark .bio {
    color: #fff;
}
body.dark .img-perfil {
    border-color: #38df96;
}

@media (max-width: 480px) {
  .container {
    transform: scale(1.10);
    padding: 30px 20px;
  }
}

@media (min-width: 1200px) {
  .container {
    transform: scale(0.75); 
  }
}

@media (min-width: 1600px) {
  .container {
    transform: scale(1.0);
  }
}