:root {
  --cor-principal: #4703d1;
  --cor-secundaria: #d68bfe;
  --cor-terciaria: #27017d;
  --cor-quaternaria: #c93efe;

  --cor-branca: #ffffff;
  --cor-preta: #1c1b1d;
  --cor-cinza-transparente: #d8d8daed;

  --font-family-main: "Poppins", sans-serif;

  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 12px;
  --spacing-lg: 20px;
  --spacing-xl: 25px;

  --border-radius-main: 18px;
  --border-width-main: 3px;
  --card-max-width: 400px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family-main);
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;

  background: url("assets/img/img-fundo.png") center/cover no-repeat;
  transition: background-color 0.3s, color 0.3s;
}

.perfil {
  overflow: hidden;
  background: var(--cor-branca);
  transform-origin: center;
  padding: var(--spacing-xl);
  border-radius: var(--border-radius-main);
  max-width: var(--card-max-width);
  margin: var(--spacing-lg);
  width: 90%;
  box-sizing: border-box;
  transition: transform 0.3s, box-shadow 0.3s;
}

.perfil:hover {
  box-shadow: 0 0 20px var(--cor-cinza);
}

.perfil__imagem {
  width: 200px;
  height: 200px;
  margin-bottom: var(--spacing-lg);
  border: 3px solid var(--cor-terciaria);
  border-radius: 50%;
  object-fit: cover;
  transition: border 0.3s, transform 0.3s, box-shadow 0.3s;
}

.perfil__imagem:hover {
  border-color: var(--cor-secundaria);
  transform: scale(1.05);
  box-shadow: 0 0 20px var(--cor-secundaria);
}

.perfil__bio {
  margin-bottom: 20px;
  font-weight: 500;
  transition: letter-spacing 0.3s, transform 0.3s;
}

.perfil__bio:hover {
  transform: scale(1.01);
  letter-spacing: 1px;
}

.perfil__botoes {
  list-style: none;
}

.perfil__botao,
.perfil__botao-alternar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: var(--spacing-md) 0;
  padding: var(--spacing-md);
  border-radius: var(--border-radius-main);
  gap: var(--spacing-md);

  background: var(--cor-principal);
  color: var(--cor-branca);

  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.perfil__botao:hover,
#modo__noturno:hover {
  background: var(--cor-secundaria);
  color: var(--cor-preta);
  transform: translateY(-2px);
}

body.dark .perfil {
  background: var(--cor-preta);
}

body.dark .perfil:hover {
  box-shadow: 0 0 20px var(--cor-preta);
}

body.dark .perfil__nome,
body.dark .perfil__bio {
  color: var(--cor-branca);
}

body.dark .perfil__imagem {
  border-color: var(--cor-secundaria);
}

@media (max-width: 480px) {
  .perfil {
    transform: scale(1.1);
    padding: 30px 20px;
  }
}

@media (min-width: 1200px) {
  .perfil {
    transform: scale(0.75);
  }
}

@media (min-width: 1600px) {
  .perfil {
    transform: scale(1);
  }
}
